@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
// COLORS
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Medium-Grey-2: hsl(216, 12%, 21%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
// FONTS
$Font-size-paragraph: 0.9375rem;
$Font-family-body: "Overpass", sans-serif;
// DIMENSIONS
$Width-mobile: 20.5rem;
$Height-mobile: 25rem;
$Width-desktop: 25.8125rem;
$Height-desktop: 25.8125rem;
