@use "variables";
@use "initial";
@use "footer";

.main-container {
  // border: 1px solid red;
  width: variables.$Width-mobile;
  height: variables.$Height-mobile;
  margin: 9.625rem auto 3.75rem;
  @media (min-width: 81.25rem) {
    // border: 1px solid red;
    width: variables.$Width-desktop;
    height: variables.$Height-desktop;
  }
}

.rating {
  // border: 1px solid yellow;
  display: block;
  background-color: variables.$Dark-Blue;
  border-radius: 1rem;
  padding: 1.5625rem;
  text-align: left;
  &__logo {
    display: block;
    // border: 1px solid blue;
    padding: 1.0625rem;
    width: 3.25rem;
    height: 3.25rem;
    background-color: variables.$Medium-Grey-2;
    border-radius: 50%;
    margin-bottom: 1.0625rem;
    // display: grid;
    // place-content: center;
  }
  &__title {
    color: variables.$White;
    font-size: 1.5em;
    margin-bottom: 1.0625rem;
  }
  &__description {
    color: variables.$Light-Grey;
    font-size: 0.87em;
    line-height: 1.375rem;
    margin-bottom: 1.5625rem;
  }
  &__grade {
    display: flex;
    gap: 1.0625rem;
    margin-bottom: 1.0625rem;
    &--icon {
      @extend .rating__logo;
      color: variables.$Light-Grey;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: variables.$Medium-Grey;
        color: variables.$White;
      }
      &:focus {
        cursor: pointer;
        background-color: variables.$Orange;
        color: variables.$White;
      }
    }
  }
  &__button {
    width: 17.375rem;
    height: 2.875rem;
    border-radius: 1.125rem;
    border: none;
    background-color: variables.$Orange;
    color: variables.$White;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.125rem;
    &:hover {
      cursor: pointer;
      background-color: variables.$White;
      color: variables.$Orange;
    }
  }

  @media (min-width: 81.25rem) {
    &__description {
      font-size: 1em;
    }
    &__button {
      width: 97%;
    }
  }
}

.thank {
  // display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: variables.$Dark-Blue;
  border-radius: 1rem;
  padding: 2.5rem;
  &__img {
    padding-bottom: 1.125rem;
  }
  &__selection {
    // border: 1px solid yellow;
    @extend .rating__grade--icon;
    width: 10.5rem;
    height: 2.1875rem;
    text-align: center;
    color: variables.$Orange;
    border-radius: 1rem;
    font-size: 1em;
    padding: 0.625rem 0;
  }
  &__title {
    @extend .rating__title;
  }
  &__description {
    @extend .rating__description;
    font-size: 0.7em;
    text-align: center;
  }

  @media (min-width: 81.25rem) {
    &__description {
      font-size: 0.93em;
    }
  }
}
